
h1{
    background-color: #1567b9;
    padding: 50px 150px;
    font-size: 50px;
}

th, td{
    padding: 10px;
    border: solid 1px;
}

tr:nth-child(even){
    background-color: #07e43e;
}

main{
    display: inline-grid;
    width: 100%;
}


table{
    text-align: center;
    position: relative;
    width: 50%;
}

article{
    position: fixed;
    margin-left: 800px;
    margin-top: 59px;
    width: 50%;
}

.montant{
    text-align: right;
}

footer {
    font-size: 50px;
    background-color: #963365;
    padding: 50px 150px;
}



#client_tb tr{
    background-color: azure;
}

